*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:  'Barlow Condensed';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 60%;
}
.container{
     height: 100vh;
     width: 100%;
     background-image: url("../image/bg1.png");
     background-position: center;
     background-size: cover;
     padding-left: 5%;
     padding-right: 5%;
     position: relative;
     box-sizing: border-box;
}
.navbar{
    
     width:100%;
     height: 15vh;
     margin: auto;
     display: flex;
     align-items: center;
}

.logo{
  
    cursor: pointer;
}

.cart{
    width: 40px;
    cursor: pointer;
}

nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    margin: 0px 20px;
} 

nav ul li a {

    color: #333;
    position: relative;

}



.navbar ul li a::before {

    content: " ";
    background-color: #ff77cd;
    height: 2px;
    width: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    transition: all 0.5s;
    

}

.navbar ul li a:hover:before{
	width: 100%;
}

.navbar ul li a:hover{
    color: #1a00af;
    transition: all 0.5s;
}


.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60  ;
}

.content p{

        font-size: 20px;
        color: #6a7199;
}

.content {

    margin-left: 10%;
    margin-top: 10%
}

.content .btn{

    display: inline-block;
    background-color: #ff77cd;
    border-radius:6px;
    padding:10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68.0.15)

}

.arrow-icons{
    margin-top: 40px;
    display: flex;
}

.arrow-icons img{

    width: 40px;
    margin-right: 25px;

}

.feature-img{

    height: 90%;
    position: absolute;
    bottom: 0;
    right: 1%;
}

.social-links{

    transform: rotate(-90deg);
    position: absolute;
    left: 0px;
    bottom: 180px;

}

.social-links A{
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}